<h2 class="title mt-3">Authorization:</h2>

<mat-card class="container">
  <mat-card-content>
    <form [formGroup]="userForm">
      <mat-form-field class="form-input">
        <mat-label>Username is:</mat-label>
        <input
          matInput
          type="text"
          formControlName="username"
        />
        <mat-error *ngIf="userValue?.errors?.['required']">Field cannot be empty</mat-error>
      </mat-form-field>

      <mat-form-field class="form-input">
        <mat-label>Password:</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
        />
        <mat-error *ngIf="passwordValue?.errors?.['required']">Field can't be empty</mat-error>
      </mat-form-field>

      <button
        mat-raised-button
        class="btn-form"
        [disabled]="userForm.invalid || userForm.disabled"
        type="button"
        (click)="login()"
      >
        Sign In
      </button>
      <hr />
      <button
        mat-raised-button
        class="btn-form"
        type="button"
        (click)="registration()"
      >
        Create a new account
      </button>
      <mat-error *ngIf="notFound">User not found. You need to register.</mat-error>
    </form>
  </mat-card-content>
</mat-card>
