.title {
    text-align: center;
}

.container {
    text-align: center;
    min-width: 30%;
    max-width: 30rem;
    margin: 0 auto;
}

.form-input {
    width: 100%;
}

.btn-form {
    margin: 0.5rem 1rem;
}

.valid {
    &.ng-invalid.ng-touched {
        border: 2px solid #f00;
    }

    &.ng-valid.ng-touched {
        border: 2px solid #004dff;
    }
}
