<mat-toolbar color="warn" class="nav mat-display-2" routerLinkActive="active">
  <a class="title" routerLink="/">{{title | uppercase}}</a>

  <mat-nav-list class="nav">
    <a mat-list-item class="page" routerLinkActive="active" routerLink="/admin/new-news">New News</a>
    <a mat-list-item class="page" routerLinkActive="active" routerLink="/admin/pages">Pages</a>
    <a mat-list-item class="page" href="#" (click)="logout($event)">
      <mat-icon>logout</mat-icon>
    </a>
  </mat-nav-list>
</mat-toolbar>

<router-outlet></router-outlet>
