.nav {
    padding: 3rem 1rem;
    justify-content: space-between;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    text-decoration-line: none;
    color: #fff;
}

.page {
    color: #fff;
    width: fit-content;
}

.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

mat-sidenav-container {
    height: 100%;
}

mat-grid-tile {
    background-color: lightblue;
}

mat-sidenav {
    background-color: rgb(84, 117, 224);
    width: 20rem;
}