<div>
    <h1 class="title" routerLinkActive="active"><a routerLink="/">{{ title | uppercase }}</a></h1>
    <ul class="nav">
        <li routerLinkActive="active"><a class="page" routerLink="/">Home </a></li>
        <li routerLinkActive="active"><a class="page" routerLink="/about">About us </a></li>
        <li routerLinkActive="active"><a class="page" routerLink="/news">News </a></li>
        <li routerLinkActive="active"><a class="page" routerLink="/pages">Pages</a></li>
        <li routerLinkActive="active"><a class="page" routerLink="/new-news">New News</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>