<mat-toolbar
  color="primary"
  class="nav mat-display-2"
  routerLinkActive="active">
  <a class="title" routerLink="/">{{ title | uppercase }}</a>

  <mat-nav-list class="nav">
    <a mat-list-item class="page" routerLinkActive="active" routerLink="/home">
      <mat-icon>home</mat-icon>
    </a>
    <a mat-list-item class="page" routerLinkActive="active" routerLink="/about"
      >About us</a
    >
    <a mat-list-item class="page" routerLinkActive="active" routerLink="/news"
      >News</a
    >
    <a mat-list-item class="page" href="#" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </a>
  </mat-nav-list>
</mat-toolbar>

<router-outlet></router-outlet>
